@charset "UTF-8";

 h1.register {
    text-align: center;
    padding-bottom:20px ;
 }
 .center-form {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    height: 50vh;         
    gap: 15px;     
}
.grid-container {
   display: grid;
   gap: 10px;
   justify-content: center;
}
.grid-row {
   display: flex;
   justify-content: center;
}
.grid-cell {
   font-size: 2.5rem;
   margin: 5px;
   padding: 10px;
   border: 2px solid #ddd;
   border-radius: 10px;
   background-color: #f8f9fa;
}
.perdeu {
   color: rgba(255, 0, 0, 0.692);
}
.ganhou {
   color: rgba(0, 128, 0, 0.651);
}