{% extends "layout.html" %}

{% block title %}
   Adicionar fichas
{% endblock %}
{% block main %}
<div class="center.form">
    <div class="container text-center">
        <h1 class="my-4">Aqui você pode adicionar fichas!</h1>
        <form action="/add" method="post">
            <label for="fichas">Quantidade de Fichas:</label>
            <input type="number" name="fichas" id="fichas">
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</div>
{% endblock %}