{% extends "layout.html" %}

{% block title %}
   Blackjack
{% endblock %}
{% block main %}
<div class="container text-center">
    <h1>Blackjack</h1>
    <p>Saldo Atual: <strong>{{ saldo }} fichas</strong></p>
    {% if result %}
        <h2 class="{% if 'venceu' in result %}text-success{% else %}text-danger{% endif %}">{{ result }}</h2>
    {% endif %}  
    <div class="my-4">
        <h3>Sua mão: {{ player_hand }}</h3>
        <h3>Mão do Dealer: {{ dealer_hand }}</h3>
    </div>  
    {% if not result %}
        <form method="POST">
            <button type="submit" name="action" value="Pedir" class="btn btn-primary">Pedir</button>
            <button type="submit" name="action" value="Parar" class="btn btn-success">Parar</button>
        </form>
    {% endif %}
</div>
{% endblock %}
